*{
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    font-size: 1.2em;
    color: goldenrod;
    padding: 20px 30px;
    display: inline-block;
}

.brand {
    font-size: 1.5em;
    font-weight: 700;
}

.card-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 30px;
}

.card {
    border: 2px solid burlywood;
    border-radius: 5px;
    padding: 20px;
}

.card h1,p,span,button {
    margin: 10px 0px 10px 0px;
}

.card-section img {
    width: 100%;
}

/* small device */

@media screen and (max-width: 576px) {
    .card-section {
        grid-template-columns: repeat(1, 1fr);
    }
    nav a {
        padding: 0px 5px;
    }

    .brand {
        font-size: 1.3em;
    }
}

/* medium device */

@media screen and (min-width: 577px) and (max-width: 992px) {
    .card-section {
        grid-template-columns: repeat(2, 1fr);
    }
    nav a {
        padding: 0px 10px;
    }
}